{varType App\Model\Entities\Product[] $products}
{block content}

<h1 n:block="title">Nabízené produkty</h1>

<section class="row" n:if="!empty($products)">
    {foreach $products as $product}
        <div class="col-lg-4 border">
            <div class="my-2 col-12">
                <a href="{plink Product:show url=>$product->url}" class="h4 mt-1">{$product->title}</a>
                {control "productCartForm-$product->productId"}
                <span>Jednotková cena: {$product->price} Kč</span>
            </div>
        </div>
    {/foreach}
</section>